#QuoteSection{
    background-image: url("../../../assets/images/bgAbout.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: 5%;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
}
.slick-slider {
  width: 100%;
  margin: auto;
}


.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}
.slide:focus { outline: none; }
.teamName{
  font-size: 16px;
  font-weight: bold;
}
.teamPosition{
  color: #808080;
}
.slideContainer{
  border-radius: 15px;
  transition: 1s all;
  cursor: pointer;
  border: 2px solid transparent;

}
.slideContainer:hover{
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.13);
  border: 2px solid #e71425;

}
.arrowNav{
  width: 100%;
}
.prevIcon{
  left: 0;
  position: absolute;
  background: #232323;
}
.navArrows{
  width: 100%;
}

.nextIcon  {
  right: 0;
  position: absolute;
  background: #232323;
}
.iconArrow{
  color: white;
}
.navArrows{
  position: absolute;
  top: 10%;
}