<section id="projects" >
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading"><strong> Our Projects </strong></h2>
          <hr class="my-4 pb-4">
      </div>
    </div>
    <div class="row">
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/1.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Dean & Letter</h2>
              <p>Branding, Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/2.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Startup Framework</h2>
              <p>Branding, Web Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/3.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Lamp & Velvet</h2>
              <p>Branding, Web Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
    </div>
    <div class="row">
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/4.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Smart Name</h2>
              <p>Branding, Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/5.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Fast People</h2>
              <p>Branding, Web Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="../assets/images/demo/2.jpg" alt="img02" class="img-responsive" />
            <figcaption>
              <h2>Kites & Stars</h2>
              <p>Branding, Web Design</p>
              <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- end portfolio item -->
    </div>
    </div><!-- end container -->
  </section>
