.section-heading{
  color: white;
}
.eventShell{
  background: white;
}

.slideContainer{
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
}