.text-primary {
  color: #e71425;
}
.service-box{
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  position: relative;
  transition: all 0.5s;
  -moz-transition: all  0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  bottom: 0px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  cursor: default;
  background: white;
}
.serviceSeperator{
  max-width: 60% !important; 
  border-width: 1px !important;
  border-color: #e5e5e5e5 !important;

  transition: all 0.5s;
  -moz-transition: all  0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.service-box:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
  bottom: 10px;
  border: 1px solid #e71425;

  .serviceSeperator{
    border-color: #e71425 !important;
  }

}

.iconNumber{
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  background: #e71425;
  color: white;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
}
.servicesSection{
  padding-bottom: 100px;

}
