.light {
  color: white;
  border-color: white;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.partnersImg {
   padding:  2rem;
   margin-top: 2rem;
}
#PartenersSection{
  background-image: url("../../../assets/images/bgPartners.png");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position-y: 50%;
  background-position-x: 5%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.69);
}  