<section class="statsSection" id="PartenersSection">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row text-white">
            <div class="col-lg-12 text-center mb-4">
              <h2 class="section-heading" style="color : white;">Partners</h2>

              <hr class="light"/>

            </div>
            <br/>

            <div *ngFor="let partner of partners" class="col-md-4 imageContainer ">
              <img class="img-fluid partnersImg text-center" [src]="partner.imagePath" [alt]="partner.title" />
            </div>
        

        </div>


      </div>

    </div>

  </div>

</section>
