.light {
  color: white;
  border-color: white;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.partnersImg {
   padding:  2rem;
   margin-top: 2rem;
}
