.subMenuTitle i { color: #e71425;}
.subHeaderWrapper{

  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.subHeaderContainer{
  border-bottom: 1px solid #d5d5d5;
  padding: 8px;

}


 .logoutButton{
  cursor: pointer;
  border-right: 1px solid #343434;
}
.adminNavbar{
  min-width: 800px !important;
}
.mainNavbarContainer{
  width: 130px;
  min-height: 650px;
  height: 100vh;
  position:fixed;
  background: #343434;
  z-index: 1;
  -webkit-box-shadow: 2px 0px 11px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 2px 0px 11px 0px rgba(0,0,0,0.39);
  box-shadow: 2px 0px 11px 0px rgba(0,0,0,0.39);
  transition: 0.35s all ease-in-out;
}
.navItemContainer, .logoContainer{
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 1s all;
  cursor: pointer;


}

.navItemContaineractive {
  width: 80%;
  height: auto;
  background: white;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 1s all;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.48);

}
.navItemContaineractive i{
  font-size: 15px;
  color:#e71425;
}
.textNotification{
  width: 90%;
     /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
}
.newTag{
  background: #e71425;
  color: white;
  padding: 4px;
  border-radius: 8px;
  position: relative;
  left : 10px;
  font-size: 9px;

}
.logoIcon{
  color: #a7a7a7;
  font-size: 22px !important;
  transition: 1s all;
}
.navItemContainer i {
  font-size: 15px;
  color: white;
}
.navSeperator{
  width: 80%;
  height: 1px;
  background: #fdfdfd;
  opacity: 0.15;
  margin:auto;
}
.navItemContainer:hover {
  background: #505050;
}

.logoutContainer{
  position: absolute;
  bottom: 5px;
  left: 10%;
}
.activeLogo i{
  color: white;
  text-shadow: 2px 2px 2px #000000;
  
}
.logoContainer :hover {
    color: white;
    
}
a {
  text-decoration: none !important;
}
.navbarItemText{
  color: white !important;
  margin-bottom: 10px;

}
.navbarItemTextActive {
  color: #e71425 !important;

}
.navbarLogoTextActive {
  color: white !important;

}
.downNavbar{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.downItem{
  margin-bottom: 5px !important;
}
.userNameNavbar{
 position: relative;
 bottom: 20px;
 padding: 10px;
 background: #e71425;
 border-radius: 4px;
 color: white;
}

.notificationWrapper{
  padding: 10px 12px 10px 12px;
  background: #334433;
  color: white;
  position: fixed;
  right: 1%;
  top: 5px;
  z-index: 2;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s all;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
}
.notificationContainer{
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  position: fixed;
  right: 1%;
  top:55px;
  color: white !important;
  z-index: 5;
  background: #818181;
}
mat-list{
  padding-top: 0px !important;
}
mat-divider{
  border-color: rgb(104, 104, 104);
}
.bubbleNotification{
  width: 6%;
  position: relative;
  left: 12px;
  color: white;
}
mat-list-item {
  position: relative;
  left: 0;
  transition: 0.2s all;
}
mat-list-item:hover {
  left: 6px;
}