.subMenuTitle i { color: #e71425;}
.subHeaderWrapper{

  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.subHeaderContainer{
  border-bottom: 1px solid #d5d5d5;
  padding: 8px;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
 .navbar-inverse .navbar-nav>.active>a:hover {
   border-bottom: 2px solid #e71425;
 }
 .navbar-fixed-top {

  border-width: 0 0 0px !important;
 }
 .navAdmin li a {
   border-left: 1px solid #343434;
   border-bottom: 2px solid #222;
   transition: 0.8s all;
 }

 .logoutButton{
  cursor: pointer;
  border-right: 1px solid #343434;
}
.adminNavbar{
  min-width: 800px !important;
}