
   <!-- Fixed navbar -->
   <app-header-admin></app-header-admin>

   <div class="container mainContainerEvent ">
     <div class="row">
       <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading" class="col-xs-8 adminShell">
   
           <div class="adminTitleWrapper">
             <h3 class="widgetTitle pl-3">
               <strong *ngIf="mode == 'create'">New Service</strong>
               <strong *ngIf="mode == 'edit'">Edit Service</strong>
             </h3>
           </div>
   
           <div class="row">
   
             <div class="col-lg-11 mt-5">
            
                 <form [formGroup]="form " class="form-horizontal" (submit)="onSaveService()">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Service Icon</label>
                        <div class="col-sm-9">
                            <ul class="list-group list-group-horizontal iconServiceList">
                                <li (click)="onPrevClick()" class="list-group-item arrowContainer">
                                  <i class="fas fa-2x fa-angle-left serviceIcon"></i>
                                </li>
                                <li class="list-group-item noBorderItem" #firstIcon>
                                   <i  class="serviceIcon " style="color: #d5d5d5" ></i>
                                </li>
                                <li class="list-group-item scdItem" #scdIcon>
                                    <i class="fa-2x serviceIcon " style="color: #474747"></i>
                                </li>
                                <li class="list-group-item activeItem" #thirdIcon>
                                    <i class="fa-3x serviceIcon " ></i>
                                </li>
                                <li class="list-group-item noBorderItem" #fourthIcon >
                                    <i class="fa-2x serviceIcon " style="color: #474747"></i>
                                </li>
                                <li class="list-group-item scdItem" #fifthIcon >
                                    <i class="serviceIcon " style="color: #d5d5d5"></i>
                                </li>
                                <li (click)="onNextClick()" class="list-group-item arrowContainer">
                                    <i class="fas fa-2x fa-angle-right serviceIcon"></i>
                                </li>
                            </ul>
                            <mat-slider
                            thumbLabel
                            [displayWith]="formatLabel"
                            tickInterval="1000"
                            value="{{activeSliderCounter}}"
                            step="1"
                            min="0"
                            (input)="onChangeSlider($event)"
                            max="{{fontAwesomeList.length}}"></mat-slider>
                        </div>
                      </div>
                    
                     <div class="form-group">
                       <label class="col-sm-3 control-label">Service Title</label>
                       <div class="col-sm-9">
                         <input type="text" class="form-control" formControlName="title" placeholder="Name" >
                         <mat-error *ngIf="form.get('title').invalid && errorFlag">Please enter a Title</mat-error>
                       </div>
                     </div>
                     <div class="form-group">
                         <label class="col-sm-3 control-label">Description</label>
                         <div class="col-sm-9">
                             <textarea class="form-control" formControlName="description" rows="3" >
   
                             </textarea>
                           <mat-error *ngIf="form.get('description').invalid && errorFlag">Please enter a valid description</mat-error>
                         </div>
                     </div>
   
   
                     <button type="submit" class="btn btn-default saveButton mb-5">Save Service</button>
   
                 </form>
   
           </div>
         </div>
       </div>
       <div *ngIf="!isLoading" class="col-xs-3 col-xs-offset-1 adminShell">
   
         <div class="adminTitleWrapper">
           <h3 class="widgetTitle pl-3">
             <strong >Preview Service</strong>
           </h3>
         </div>
   
             <div class="servicePreview">
                  <i style="color: #e71425" class="fas fa-4x fa-bullhorn mb-3 sr-icon-1"></i>
                  <h3 class="mb-3">{{form.value.title}}</h3>
                  <hr class="serviceSeperator"/>
                  <p  class="text-muted mb-0">
                      {{form.value.description}}
                  </p>
            </div>
       </div>
     </div>
   
   
   </div>
   
   