   <!-- Fixed navbar -->
   <nav class="navbar  navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logoAdmin navbar-brand" routerLink="/admin" routerLinkActive="active"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/admin/Events" routerLinkActive="active">Events</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Members</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br/><br/><br/>

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 adminShell">
          <h3 class="adminTitle pl-3"> <strong>New Event</strong> </h3>
          <div class="row">
            <div class="col-lg-11">
                <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Event Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control"  placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type='text' class="form-control" placeholder="dd/mm/yy" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Event Image</label>
                        <div class="col-sm-9">
                            <input type="file" name="myFile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </form>
                <button type="button"  class="btn btn-default saveButton mb-5">Save Event</button>

          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row mt-5">
        <h3 class="adminTitle pl-3"> <strong>All Events</strong> </h3>
        <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Event Name</th>
                  <th>Address</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th style="width: 5%">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope=row>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td class="text-center"><a href=""><i class="fas fa-trash"></i></a></td>
                </tr>

              </tbody>
        </table>

    </div>
</div>
